/* .page {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;

    align-items: center;
    justify-content: center;
    height: 20vh;
    background-color: white;
  } */

table tr{
    border-bottom: 1px solid rgb(196, 196, 196);
    overflow: scroll;
}




.content_head {
    margin-top: 5%;
}

.title {
    text-align: left;
    height: 20%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task_area {
    align-items: end;
}

.buttonCon {
    display: flex;
    align-items: end;
    width: 260px;
}

.button {
    background-color:#1a83ff;
    color: white;
    margin: 0%;
    padding: 10px 20px; /* 내부 여백 */
    color: #ffffff;
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
}

.content_body {
    margin-top: 1%;
}