.head {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 1%;
}

.headBtn {
    background-color:#1a83ff;
    color: white;
    margin: 0%;
    padding: 10px 20px; /* 내부 여백 */
    color: #ffffff;
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    
}


.page {
    position: absolute;
    top: 10%;
    bottom: 10px;
    width: 100%;
    height: 800px;
    max-width: 500px;
    padding: 30px 10px;

    left: 50%;
    transform: translate(-50%, 0);

    background-color: #F7F7F7;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.inputTitle {
    font-size: 12px;
    font-weight: 600;
    color: #262626;
    margin-top: 20px;
    text-align: left;
}

/* .bottomButton {
    width: 100%;
    height: 48px;
    border: none;
    font-weight: 700;
    background-color: #007bff;
    border-radius: 64px;
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
    margin: 1px;
    margin-top: 50px;

} */



