.content_head {
    margin-top: 5%;
    
}

.title {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.task_area {
    align-items: end;

}

.buttonCon {
    display: flex;
    align-items: end;
    width: 260px;
}

.button {
    background-color:#1a83ff;
    color: white;
    margin: 0%;
    padding: 10px 20px; /* 내부 여백 */
    color: #ffffff;
    border: none; 
    border-radius: 5px;
    cursor: pointer; 

}

.content_body {
    margin-top: 1%;
}

.searchCon {

    /* width: 80%; */
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 3%;
    /* border: 1px solid black; */
    
}

.search {
    margin-right: 0.5rem!important;
}

.formControlButton {
    margin: 0%;
    /* margin-right: 0.5rem!important; */
}

