@import

/* FacilityModal.js CSS */

.header {

}

.update_page{
    position: absolute;
    top: 20px;
    
    background-color:#EAEAEA;

    height: 100%;
    max-height: 500px;
    width: 100%;
    max-width: 400px;

    left: 50%;
    transform: translate(-50%, 0);
}

.essential{
    display: flex;
    font-size: 13px;
    margin-top: 10px;
    color: blue;
}

.categorys{
    display: flex;
    margin-top: 15px;
    font-size: 12px;
}

.category{
    width: 100px;
    height: 20px;
    margin-left: 40px;
}

.carNames{
    display: flex;
    color: blue;
    margin-top: 15px;
    font-size: 10px;
}

.carName{
    height: 20px;
    width: 100%;
    max-width: 150px;
    margin-left: 45px;
}

.carNumbers{
    display: flex;
    color: blue;
    margin-top: 15px;
    font-size: 10px;
}

.carNumber{
    height: 20px;
    width: 100%;
    max-width: 150px;
    margin-left: 35px;
}

.carDistances{
    display: flex;
    color: blue;
    margin-top: 15px;
    font-size: 10px;
}

.carDistance{
    height: 20px;
    width: 100%;
    max-width: 150px;
    margin-left: 35px;
}

.carYears{
    display: flex;
    color: blue;
    margin-top: 15px;
    font-size: 10px;
}

.carYear{
    height: 20px;
    width: 100%;
    max-width: 150px;
    margin-left: 35px;
}


.carImages{
    display: flex;
    margin-top: 15px;
    font-size: 10px;
}

.carImage{
    height: 20px;
    width: 200px;
    margin-left: 60px;
}

.explanations{
    display: flex;
    margin-top: 15px;
    font-size: 12px;
}

.explanation{
    height: 100px;
    width: 100%;
    max-width: 200px;
    margin-left: 65px;
    margin-right: 5px;
}

.firstLine{
    margin-top: 15px;
    margin-left: 15px;
    border: none;
    width: 370px;
    border: 1px solid gray;
}

.companys{
    display: flex;
    margin-top: 20px;
    margin-left: 35px;
    font-size: 12px;
}

.company{
    text-align: center;
    height: 20x;
    width: 80px;
    margin-left: 50px;
    margin-right: 5px;
}

.secondLine{
    margin-bottom: 9px;
    border: none;
    border: 1px solid gray;
}

.sNcBtn{
    margin-top: 20px;
    margin-left: 230px;
}

.cancel{
    height: 25px;
    width: 65px;
}

.save{
    margin-left: 10px;
    height: 25px;
    width: 65px;
}

/*-------------------------------------------------------------*/

/* ResourceList.js CSS*/

.top_category{
    padding-top: 10px;
    padding-bottom: 10px;
}

.manage{
    float: left;
    border: 0%;
}

.facility_input{
    float: right;
}

.firstLine{
    width: 100%;
    size: 50px;
}

/* --------------------------------------------- */

/* .mainButton{
    margin-top: 25px;
}

.common{
    margin-left: 40px;
    font-weight: bold;
}

.calender{
    margin-left: 30px;
    font-weight: bold;
}

.resource{
    margin-left: 30px;
    font-weight: bold;
}

.update_button{
    float: right;
    margin-right: 40px;
    background-color: blue;
    color: white;
}

.list_page_left{
    position: absolute;
    top: 80px;
    
    background-color: white;

    

    height: 100%;
    max-height: 550px;
    width: 100%;
    max-width: 220px;


    left: 150px;
    transform: translate(-50%, 0);

    border: 1px solid;
}

.input_button{
    margin-left: 10px;
    margin-top: 10px;
    height: 30px;
}

.under_bar{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
}

.list_page_right{
    position: absolute;
    top: 80px;
    
    background-color: white;

    

    height: 100%;
    max-height: 550px;
    width: 100%;
    max-width: 245px;


    left: 383px;
    transform: translate(-50%, 0);

    border: 1px solid;
} */