.mainButton{
    margin-top: 25px;
}

.common{
    margin-left: 40px;
    font-weight: bold;
}

.calender{
    margin-left: 30px;
    font-weight: bold;
}

.resource{
    margin-left: 30px;
    font-weight: bold;
}

.update_button{
    float: right;
    margin-right: 40px;
    background-color: blue;
    color: white;
}

.list_page_left{
    position: absolute;
    top: 80px;
    
    background-color: white;

    

    height: 100%;
    max-height: 550px;
    width: 100%;
    max-width: 220px;


    left: 150px;
    transform: translate(-50%, 0);

    border: 1px solid;
}

.input_button{
    margin-left: 10px;
    margin-top: 10px;
    height: 30px;
}

.under_bar{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
}

.list_page_right{
    position: absolute;
    top: 80px;
    
    background-color: white;

    

    height: 100%;
    max-height: 550px;
    width: 100%;
    max-width: 245px;


    left: 383px;
    transform: translate(-50%, 0);

    border: 1px solid;
}