.header {
    height: 50px;
    display: flex;
    margin-left: 0px;
    padding: 10px;
    justify-content: space-between;
}

.logo {
    margin-left: 50px;
    margin-right : 50px;
    padding: 0px;
    width: 150px;
}

.fixedHeader {
    border-bottom: 1px solid rgba(0,0,0,.08);
    background-color: #f4f6fc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9998;
    height: 50px;
}

.formControlButton {
    margin: 0px;
}

.userName {
    border-radius: 1rem;
    border-color: red;
    
}