.content_head {
    margin-top: 5%;
    
}

.title {
    text-align: left;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    background-color:#1a83ff;
    /* float: right; */
    right: 50%;
    margin: 0px;

}

.content_body {
    text-align: left;
}